@media (max-width: 65em) {
   section {
      padding: 4em 1em;
   }

   section#learn-more {
      .items {
         flex-flow: column nowrap;

         .item {
            flex-basis: 100%;

            img {
               min-height: 15em;
            }
         }
      }
   }

   section#what-to-expect {
      .videos-container {
         grid-template-columns: repeat(2, 1fr);
      }
   }

   section#contact {
      form {
         max-width: 70%;
         flex-flow: column nowrap;

         input {
            border: 1px solid rgba(51, 51, 51, 0.37) !important;
         }

         input[type=submit],
         input[type=email] {
            border-radius: 5px;
         }
      }
   }
}

@media (max-width: 43em) {
   section#banner {
      .inner {
         h1 {
            font-size: 2rem;
         }

         p {
            font-size: 1rem;
         }
      }
   }

   section#what-to-expect {
      .videos-container {
         grid-template-columns: 1fr;
      }
   }

   section#contact {
      form {
         max-width: 100%;
      }
   }
}