// SASS
$main-font: 'Source sans pro';
$nav-width: 20em;

@mixin cirle($i) {
   border-radius: 50%;
   display: block;
   height: $i;
   line-height: $i;
   width: $i;
}

@mixin borderBottom() {
   &::after {
      border-bottom: 1px solid #ccc;
      content: '';
      display: block;
      margin: .65em auto;
      width: 13em;
   }
}

* {
   box-sizing: border-box;
   font-family: inherit;
}

body {
   font-family: $main-font, Arial, Helvetica, sans-serif;
   scroll-behavior: smooth;
}

a {
   text-decoration: none;
}

button {
   all: unset;
   cursor: pointer;
}

ul {
   list-style: none;
}

.container {
   margin: 0 auto;
   max-width: 70em;
}

.section-title {
   color: #333;
   font-size: 1.85rem;
   font-weight: 300;
   text-transform: uppercase;
}

section {
   border-bottom: 1px solid rgba(51, 51, 51, 0.212);
   padding: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
   letter-spacing: .125em;
}

header#header-nav {
   align-items: center;
   display: flex;
   justify-content: space-between;
   padding: 2em;

   position: absolute;
   top: 0;
   left: 0;
   width: 100%;

   a#brand {
      color: #fff;
      font-size: 1.45rem;
      font-weight: 300;
      text-transform: uppercase;

      &::after {
         border-bottom: 1px solid #fff;
         content: '';
         display: block;
         padding: .1em;
      }
   }

   button#open-nav {
      color: #fff;
      font-size: 1.5rem;
   }
}

nav#main-nav {
   background: #333;
   background-repeat: no-repeat;
   border-left: 1px solid #333;
   transition: all 350ms ease;
   visibility: hidden;

   position: fixed;
   top: 0;
   right: 0;
   height: 100%;
   width: 0;
   z-index: 100;

   ul {
      display: flex;
      flex-flow: column nowrap;
      position: relative;

      li {
         margin: .5em 0;

         a {
            color: #ccc;
            display: block;
            font-size: 1rem;
            font-weight: 600;
            padding: .5em 0;
            text-transform: uppercase;
            transition: color 300ms ease;
            white-space: nowrap;
            width: 16em;

            &:hover {
               color: #fff;
            }

            &.border-bottom {
               &::after {
                  border-bottom: 1px solid rgba(255, 255, 255, 0.274);
                  content: '';
                  display: block;
                  padding: .35em 0;
               }
            }

         }
      }


      a.close-nav {
         display: inline-block;
         margin-bottom: 2em;
         text-align: right;
      }
   }

   &.main-nav_open {
      visibility: visible;
      width: $nav-width;
   }
}


section#banner {
   align-items: center;
   background-image:
      linear-gradient(#00000075, #00000075),
      url('../img/body-of-water-cold-daylight-1398046.jpg');
   background-size: cover;
   background-position: center;
   display: flex;
   height: 75vh;
   justify-content: center;
   min-height: 40em;
   text-align: center;

   .inner {
      color: #f1f1f1;

      h1 {
         align-items: center;
         display: flex;
         font-size: 3rem;
         font-weight: 400;
         line-height: 1;
         margin: .25em 0;
         text-transform: uppercase;

         &::before,
         &::after {
            background: #fff;
            content: '';
            display: inline-block;
            height: .1em;
            margin: 0 .5em;
            width: 3em;
         }
      }

      p {
         font-size: 1.25rem;
         letter-spacing: .125em;
         margin-top: 2em;
         text-transform: uppercase;

      }

      a {
         border-radius: 50px;
         background: #fff;
         color: #444;
         display: inline-block;
         font-size: 1.1rem;
         font-weight: 600;
         margin-top: 2em;
         padding: .85em 1.75em;
         text-transform: uppercase;
         transition: background 300ms ease;

         &:hover {
            background: darken(#fff, 10);
         }
      }
   }
}

section#learn-more {
   text-align: center;

   h2 {

      @include borderBottom();
   }

   p {
      color: #555;
      font-size: .9rem;
      letter-spacing: .125em;
      line-height: 1.65;
      margin: auto;
      margin-top: .5em;
      text-transform: uppercase;
      width: 70%;
   }

   .items {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin: 3em 0;

      .item {
         flex-basis: 33%;
         overflow: hidden;
         margin: 0 .75em;
         position: relative;
         text-align: center;

         &:hover {
            img {
               transform: scale(1.1);
            }

            .inner {
               opacity: 1;
            }
         }

         img {
            display: block;
            min-height: 20em;
            transition: transform 300ms ease;
            width: 100%;
         }

         .inner {
            background: rgba(0, 0, 0, 0.63);
            opacity: 0;
            transition: all 300ms ease;

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            a {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               z-index: 122;
            }

            .text {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);

               h3 {
                  color: #fff;
                  font-size: 1.5rem;
                  font-weight: 300;
                  text-transform: capitalize;
                  white-space: nowrap;
               }
            }
         }
      }
   }
}

section#what-to-expect {
   padding: 4em 0 0 0;
   text-align: center;

   h2 {
      @include borderBottom();
   }

   .videos-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      iframe {
         display: block;
         width: 100%;
      }
   }
}

section#contact {
   text-align: center;

   h2 {
      font-size: 1.75rem;
      @include borderBottom();
   }

   form {
      display: flex;
      flex-flow: row nowrap;
      max-width: 50%;
      margin: 2em auto;

      input {
         background: none;
         border: 1px solid rgba(51, 51, 51, 0.493);
         color: #333;
         padding: 1em;
      }

      input[type=email] {
         border-top-left-radius: 50px;
         border-bottom-left-radius: 50px;
         border-right: 0;
         flex-basis: 75%;
      }

      input[type=submit] {
         border-top-right-radius: 50px;
         border-bottom-right-radius: 50px;
         cursor: pointer;
         flex-basis: 25%;
         font-weight: 600;
         transition: background 300ms ease;

         &:hover {
            background: rgba(153, 153, 153, 0.11);
         }
      }

   }
}

footer#footer-social {
   background: #f4f4f4;
   border-top: 1px solid rgba(51, 51, 51, 0.308);
   padding: .75em;

   ul {
      display: flex;
      justify-content: center;

      li {
         margin: 0 2em;

         a {
            color: #666;
            font-size: 1.5rem;
            text-align: center;
            transition: color 300ms ease;

            &:hover {
               color: #444;
            }
         }
      }
   }
}